* {
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Sixtyfour';
}

body{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background :linear-gradient(135deg, #8fc201, #000000) ;
    color: antiquewhite;
    font-family: 'Sixtyfour';
    margin-bottom:1000px ;
}

#canvas{
    background-color: black;
    border: 2px solid black;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    
}

fieldset{
    margin: 50px;
    border: 2px solid black;

}

.contenerForm {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    margin-top: 10px;
    gap: 30px;
}

.questionInit{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#score {
    margin: 50px;
    text-align: center;
    font-family: 'Sixtyfour';
}

select{
    border: 1px solid black;
    background-color: antiquewhite;
    font-family: 'Sixtyfour';
    font-size: 13px;
    height: 30px;
    
}